// ==============================
// Custom style
// 自定义样式
// ==============================

.text-blue {
  color: #2376b7 !important;
}

.text-blue:hover,
.text-blue:hover i[class^="fa-"] {
  color: #ea517f !important;
}

.hide-icon > i {
  display: none;
}

.floating-right {
  float: right;
}
